.custom-card {
    width: 1030px;
    height: 370px;
    background-color: #EADDCA;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text-section {
    width: 420px;
}

.action-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #001FA8;
}

.custom-card-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #001FA8;
    margin-bottom: 20px;
}

.btn-primary {
    width: 200px;
    height: 50px;
    background-color: #001FA8;
    border: none;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #010a33;
}