.roteiro-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.roteiro-header {
  text-align: center;
  margin-bottom: 20px;
}

.roteiro-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.roteiro-name input {
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 15px;
  background-color: #EADDCA;
  color: #8b4513;
  font-size: 16px;
  border: none;
  align-items: center;
  height: 50px;
  display: inline-block;
}

.create-roteiro-button {
  width: 70%;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 15px;
  background: linear-gradient(90deg, #0047ab, #000080);
  color: white;
  font-size: 16px;
  border: none;
  align-items: center;
  height: 50px;
  display: inline-block;
  padding-left: 20px;
}

.roteiro-title {
  text-align: center;
  margin-bottom: 20px;
}

.roteiro-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 200px);
}

.roteiro-container {
  width: 90%;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 950px;
}

.roteiro-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Allow scrolling for this section */
}

.roteiro-section:first-child {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.roteiro-section h2 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Inter, sans-serif;
  white-space: nowrap;
}

.roteiro-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roteiro-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EADDCA;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: auto;
  color: var(--blue);
}

.roteiro-location {
  margin-top: 20px;
}

.location-details {
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--blue);
}
