.roteiro-page {
  
  font-family: Arial, sans-serif;
  padding: 20px;
  

}

.roteiro-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

.roteiro-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
}

.roteiro-name input {
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 15px;
  background-color: #EADDCA; 
  color: #8b4513; 
  font-size: 16px; 
  border: none;
  align-items: center;
  height: 50px;
  display: inline-block; 
}

.create-roteiro-button {
  width: 70%;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 15px;
  background: linear-gradient(90deg, #0047ab, #000080); 
  color: white; 
  font-size: 16px; 
  border: none;
  align-items: center;
  height: 50px;
  display: inline-block;
  padding-left: 20px; 

}

.roteiro-title {
  text-align: center;
  margin-bottom: 20px;
}

.roteiro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}


 
.roteiro-container {
  width: 90%;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 950px;
}
.roteiro-section {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.roteiro-section h2 {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Inter, sans-serif;
  white-space: nowrap;
  
}

.roteiro-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.roteiro-list li {
  display: flex;
  justify-content: space-between; /* Alterar para justificar conteúdo */
  align-items: center;
  background-color: #EADDCA;
  padding: 35px; /* Aumentar o padding para maior altura */
  border-radius: 15px;
  margin-bottom: 10px;
  width: 400px; /* Aumentar a largura dos itens de lista */
  margin-left: auto; /* Centralizar os itens de lista */
  margin-right: auto; /* Centralizar os itens de lista */
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: auto;
  color: var(--blue);
}

.roteiro-location {
  margin-top: 20px;
}

.location-details {
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--blue);
  
}